:root {
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--background-color-theme-dark: #1d1d1d;
	--color-theme-dark: #fff;

	--background-color-theme-light: #ffff;
	--color-theme-light: #121314;

	--color-accent--shadow: rgba(247, 114, 69, 0.5);
}

/* semantic color variables for this project */
:root {
	--color-background: var(--background-color-theme-light);
	--color-text: var(--color-theme-light);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--background-color-theme-dark);
		--color-text: var(--color-theme-dark);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family: var(--system-ui);
	font-size: 18px;
	padding: 5vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav > ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 18px;
}

section {
	margin-top: 1rem;
}

nav > ul li a {
	text-decoration: none;
	color: var(--color-text);
	position: relative;
}

ul li a {
	color: var(--color-text);
	text-decoration: underline;
}

nav > ul li a:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 66%;
	left: -0.1em;
	right: -0.1em;
	bottom: 0;
	transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
	background-color: var(--color-accent--shadow);
}

nav > ul li a:hover:after {
	top: 0;
}
