.post__article {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.post__article h1 {
	font-weight: bold;
}

.post__article h1,
.post__article h2,
.post__article h3,
.post__article h4 {
	line-height: 1em;
	padding-top: 1rem;
}

.post__article ul {
	gap: 18px;
}

a {
	position: relative;
	text-decoration: none;
}

a:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 66%;
	left: -0.1em;
	right: -0.1em;
	bottom: 0;
	transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
	background-color: var(--app-accent-color--shadow);
}

a:hover:after {
	top: 0;
}

blockquote {
	background: var(--color-background--contrast);
	border-left: solid 9px var(--app-accent-color);
	box-shadow: var(--app-box-shadow);
	line-height: 1.4em;
	padding: 18px;
}

blockquote p {
	font-family: serif;
	margin-bottom: 1rem;
}

blockquote footer cite {
	font-style: italic;
}
