.post__article {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.post__article h1 {
	font-weight: bold;
}

.post__article h1,
.post__article h2,
.post__article h3,
.post__article h4 {
	line-height: 4.5rem;
	padding-top: 1rem;
}

.post__article ul {
	gap: 18px;
}

blockquote {
	border-left: solid 8px var(--app-accent-color);
	box-shadow: var(--app-box-shadow);
	font-size: 1.8rem;
	padding: 18px;
	width: 80vw;
	margin: 1rem auto;
}

.table-container {
	overflow-x: auto;
	max-width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	padding: 18px;
	box-shadow: var(--app-box-shadow);
}

table	thead,
table tr:nth-child(even) {
	background: var(--color-background--contrast);
}

th {
	font-weight: bold;
}

th,
td {
	padding: 4px 12px;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}
