<header>
	<div class="container">
		<nav>
			<hgroup>
				<h1 class="title" style="font-weight: 900">Badr Choubai</h1>
				<h2>The Grass Is Green.</h2>
			</hgroup>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a class="active" href="/blog">Blog</a>
				</li>
			</ul>
		</nav>
	</div>
</header>