<header>
    <div class="container">
        <nav>
            <h1 style="font-weight: 900">Badr Choubai</h1>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="active" href="/blog">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
