<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Badr Choubai's Personal Website",
        "url": "https://www.badrchoubai.dev",
        "description": "The personal website of Badr Choubai, a developer sharing knowledge and projects.",
        "author": {
            "@type": "Person",
            "name": "Badr Choubai",
            "url": "https://www.badrchoubai.dev"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Badr Choubai",
            "url": "https://www.badrchoubai.dev",
            "logo": {
                "@type": "ImageObject",
                "url": "https://badrchoubai.dev/favicon.ico"
            }
        },
        "sameAs": [
            "https://www.linkedin.com/in/badrchoubai"
        ]
    }
</script>
