<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Badr Choubai's Personal Website",
        "url": "https://www.badrchoubai.dev",
        "description": "The personal website of Badr Choubai, a developer sharing knowledge and projects.",
        "author": {
            "@type": "Person",
            "name": "Badr Choubai",
            "url": "https://www.badrchoubai.dev"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Badr Choubai",
            "url": "https://www.badrchoubai.dev",
            "logo": {
                "@type": "ImageObject",
                "url": "https://badrchoubai.dev/favicon.ico"
            }
        },
        "sameAs": [
            "https://www.github.com/badrchoubai",
            "https://www.linkedin.com/in/badrchoubai"
        ],
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.badrchoubai.dev/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        },
        "hasPart": [
            {
                "@type": "SiteNavigationElement",
                "name": "Home",
                "url": "https://www.badrchoubai.dev/"
            },
            {
                "@type": "SiteNavigationElement",
                "name": "Blog",
                "url": "https://www.badrchoubai.dev/blog"
            }
        ]
    }
</script>
