---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout image={post.data.image} title={`Badr Choubai - ` + post.data.title}>
  <Section coverImage={post.data.image} id="blog-content-header-section">
    <header>
      <nav>
        <ul>
          <li>
            <a class="btn" href="/blog">back to all posts</a>
          </li>
        </ul>
      </nav>
    </header>
  </Section>
  <Section id="blog-content-section">
    <div class="content-wrapper">
      <Content />
    </div>
  </Section>
</Layout>

<style>
  a.btn {
    background-color: var(--app-accent-color);
    padding: calc(var(--app-spacing)*.5);
  }

.content-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .content-wrapper {
    margin: auto;
    padding: 1rem;
    width: 90%;
  }
}
</style>