---
title: Goals
premise: This year. Next year.
draft: false
date: 2024-10-06
url: /blog/2024-10-06-goals
---

<section>
    <hgroup>
        <h2>This Year: 2024</h2>
        <p>I'm OK.</p>
    </hgroup>
    <p>
        For 2024, I set goals around three parts of my life: health, career, and relationships.
        So... how am I doing? Losing my job in March—wasn't part of the plan. But, in the time I've been looking
        for jobs I have learned a new programming language and was able to improve on knowledge in other technologies
        taking courses in Docker, Kubernetes, and SQLite.
    </p>
    <p>
        The time I've spent not working has also given me a lot of time to think about what I want from my next role.
        The biggest thing being: Working at an office, 2-3 times a week, with my team. Remote work killed me and I won't
        do it, not this early in my career.
    </p>
    <p>
        What about the goals I set for my health? Well, coming into 2024, I was already becoming a very
        avid runner. I joined one of the best cults in Denver and almost every week I run, climb, and have dinner
        with them. I've also made a lot of good friends from the group. So, all I set out to do was commit
        to running one half-marathon distance run a month (<code>1*13.1*12</code>), I've done
        nine so far. I also threw in a few races: Ragnar Trail Snowmass, HPRS: Silverheels (30k segment), and Run the Rockies. </p>
    <p>
        That only leaves my relationship goals left to talk about, mainly aimed at building new ones.
        This included dating... I haven't gone on a single date. There are roughly 3 months left to figure that
        out (luckily, I'm on an App!). I've met a lot of people this year, and I'm lucky to have many more friends than
        I did at the start of the year. And, we've already been through a lot together.
    </p>
    <p>
        I believe that a lot of what makes us human is the background to our lives, I don't share a lot.
        But, the person I worry the most about is my mom, she suffers terribly from Borderline Personality Disorder
        and depends on my grandma for financial support. My grandma, who already suffers from dementia and has
        had a fall was also recently diagnosed with Breast Cancer. I'm worried about them both. I don't think
        I'm prepared for it: to find the resources to help my mom, the time to spend with her through it all, being
        "Devil's Advocate" for suggesting things she won't like. I'll probably disassociate from a lot of it, and it'll
        <i>seem</i> "OK".
    </p>
    <p>
        I've had two panic attacks in the last month and I'm OK. I've got friends who care about me and family that
        worries about me, I'm OK.
    </p>
</section>

<section>
    <hgroup>
        <h2>Next Year: 2025</h2>
        <p>Despite it all.</p>
    </hgroup>
    <p>
        Whatever rings in the new year, I think it'll be okay. My friends are there for me and I know I'll be
        in a position to be there for them too. To the friends that read this, let me know how you're doing.
    </p>
    <div class="container--grid">
        <div>
            <h3>
                Relationships
            </h3>
            <ul>
                <li>

                    I want to let people in my life know I care about them.
                </li>
                <li>
                    I should say 'Hey' to that stranger, ask about the book they're
                    reading, let them know I'm a fan of who they're wearing on their
                    shirt, make small talk.
                </li>
            </ul>
        </div>
        <div>
            <h3>
                Health
            </h3>
            <ul>
                <li>
                    I want to learn to manage stress better. I also want to build better routines
                    around Yoga and Strength Training.
                </li>
                <li>
                    I want to stop being such a fucking hypochondriac. I think stress triggers it.
                </li>
                <li>
                    I'll continue runnning. Eat less meat.
                </li>
            </ul>
        </div>
        <div>
            <h3>
                Career
            </h3>
            <ul>
                <li>
                    I will find a job, and I won't have to convince myself of my skills.
                </li>
                <li>
                    I'd like to return to college, when it's financially feasible.
                </li>
                <li>
                    I'll continue to approach personal projects iteratively.
                </li>
            </ul>
        </div>
    </div>
</section>