/* =========================================================
   BASE VARIABLES
   ========================================================= */
@import url("./typography.css");
@import url("./colors.css");
@import url("./document.css");

:root,
:host {
  --app-box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .12);
  --app-box-shadow--hover: 0 .3rem 1.2rem rgba(0, 0, 0, .2);

  /* Spacing & layout */
  --app-spacing: 1rem;
  --app-border-radius: 0.375rem;
  --app-border-width: 2px;
  --app-outline-width: 0.125rem;
  --app-transition: 0.2s ease-in-out;
  --app-block-spacing-vertical: var(--app-spacing);
  --app-block-spacing-horizontal: var(--app-spacing);
  --app-grid-column-gap: var(--app-spacing);
  --app-grid-row-gap: var(--app-spacing);

  /* Container width */
  --app-container-max: 1400px;
  --app-container-width: 100%;

  --section-height-one-quarter: 25svh;
  --section-height-half: 50svh;
  --section-height-three-quarters: 75svh;
  --section-height-full: 100svh;

  color-scheme: dark;
}


@media screen and (max-width: 749px) {
  [mobile\:hidden] {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

@media screen and (min-width: 750px) {
  [desktop\:hidden] {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* =========================================================
   Document Landmarks
   ========================================================= */
body {
  color: var(--app-color);
  background: var(--app-background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
  font-variation-settings: 'slnt' 0;
}

main {
  display: block;
}

body>header,
body>footer {
  padding-top: var(--app-block-spacing-vertical);
}

header.group {
  margin-bottom: var(--app-typography-spacing-vertical);
}

header.group>* {
  margin-top: 0;
  margin-bottom: 0;
}

header.group>*:not(:first-child):last-child {
  --app-font-weight: unset;
  font-size: 1rem;
}

section.section--height-1\/4 {
  --section-min-height: var(--section-height-one-quarter);
}

section.section--height-1\/2 {
  --section-min-height: var(--section-height-half);
}

section.section--height-3\/4 {
  --section-min-height: var(--section-height-three-quarters);
}

section.section--height-full {
  --section-min-height: var(--section-height-full);
}

section {
  padding: var(--app-spacing);
  border-bottom: var(--app-border-width) solid var(--app-border-color);
  background-color: var(--app-background-color);
  color: var(--app-color);

  position: relative;
  width: 100%;
  min-height: var(--section-min-height, 'auto');
}

section:last-child {
  border-bottom: none;
}

p {
  margin-bottom: var(--app-typography-spacing-vertical);
}

/* Links */
a {
  color: var(--app-color);
  text-decoration: none;
  transition: color var(--app-transition);
}

a:hover {
  color: var(--app-accent-color);
}

/* =========================================================
   LAYOUT: Container + Frame alignment
   ========================================================= */
.container {
  width: var(--app-container-width);
  margin-inline: auto;
  padding-inline: auto;
}

@media (min-width: 750px) {
  .container {
    max-width: var(--app-container-max);
    border-inline: var(--app-border-width) solid var(--app-border-color);
  }
}

/* ============================================================
   Grid
   ============================================================ */
.grid {
  grid-column-gap: var(--app-grid-column-gap);
  grid-row-gap: var(--app-grid-row-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr)); 
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}

.grid>* {
  min-width: 0;
}

.btn {
  display: inline-block;
  padding: var(--app-spacing) var(--app-spacing);
  border-radius: var(--app-border-radius);
  background-color: var(--app-accent-color);
  color: #fff;
  font-weight: 500;
  transition:
    color var(--app-transition),
    background-color var(--app-transition);
}

.btn:hover {
  color: var(--app-color);
  background-color: var(--app-accent-color--hover);
}
