/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root,
:host {
  /* Typography */
  --app-font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --app-font-family-sans-serif: "Inter Variable", system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    Helvetica, Arial, "Helvetica Neue", sans-serif, var(--app-font-family-emoji);
  --app-font-family-serif: 'Times New Roman', Times, serif;
  --app-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace, var(--app-font-family-emoji);
  --app-font-family: var(--app-font-family-sans-serif);
  --app-font-size: 100%;

  --app-typography-spacing-vertical: 1rem;
  --app-line-height: 1.5;

  --app-font-weight: 400;
}

blockquote,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: var(--app-typography-spacing-vertical);
  color: var(--app-color);
  font-style: normal;
  font-weight: var(--app-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --app-font-weight: 700;
}

h1,
.h1 {
  --app-font-size: 2rem;
  --app-font-weight: 900;
  --app-line-height: 1.125;
  --app-typography-spacing-top: 3rem;
}

h2,
.h2 {
  --app-font-size: 1.75rem;
  --app-line-height: 1.15;
  --app-typography-spacing-top: 2.625rem;
  --app-font-weight: 700;
}

h3,
.h3 {
  --app-font-size: 1.5rem;
  --app-line-height: 1.175;
  --app-typography-spacing-top: 2.25rem;
  --app-font-weight: 500;
}

h4,
.h4 {
  --app-font-size: 1.25rem;
  --app-line-height: 1.2;
  --app-typography-spacing-top: 1.874rem;
  --app-font-weight: 400;
}

h5,
.h5 {
  --app-font-size: 1.125rem;
  --app-line-height: 1.225;
  --app-typography-spacing-top: 1.6875rem;
  --app-font-weight: 300;
}

h6,
.h6 {
  --app-font-size: 1rem;
  --app-line-height: 1.25;
  --app-typography-spacing-top: 1.5rem;
  --app-font-weight: 300;
}

blockquote {
  display: block;
  margin: var(--app-typography-spacing-vertical) 0;
  padding: var(--app-spacing);
  border-right: none;
  border-left: 0.25rem solid var(--app-border-color);
  border-inline-start: 0.25rem solid var(--app-border-color);
  border-inline-end: none;
}

:where(article, blockquote, ol, ul, p)~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--app-typography-spacing-top);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--app-typography-spacing-vertical);
  color: var(--app-color);
  font-weight: var(--app-font-weight);
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-family: var(--app-font-family--headings);
}

pre,
code,
kbd,
samp {
  --app-font-family: var(--app-font-family-monospace);
}

/* CODE */
pre,
code,
kbd,
samp {
  font-size: 0.875em;
  font-family: var(--app-font-family);
}

pre code,
pre samp {
  font-size: inherit;
  font-family: inherit;
}

pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

pre,
code,
kbd,
samp {
  border-radius: var(--app-border-radius);
  background: var(--app-code-background-color);
  color: var(--app-color);
  font-weight: var(--app-font-weight);
  line-height: initial;
}

code,
kbd,
samp {
  display: inline-block;
  padding: 0.375rem;
}

pre {
  display: block;
  margin-bottom: var(--app-spacing);
  overflow-x: auto;
}
pre > code,
pre > samp {
  display: block;
  padding: var(--app-spacing);
  background: none;
  line-height: var(--app-line-height);
}

kbd {
  background-color: var(--app-background-color);
  color: var(--app-color);
  vertical-align: baseline;
}
