<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<meta name="description" content="Badr Choubai's place on the internet">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#111111" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#f77245" />

		<title>{{ "Badr Choubai - " + title }}</title>

    {% set css %}
    	{% include "index.css" %}
    	{% if css == "prism" %}
				{% include "okaida.css" %}
			{% endif %}
    {% endset %}
    <style>
    	{{ css | safe }}
    </style>

	</head>
	<div class="accent"></div>
	<body>
		<main class="container">
			{{ content | safe }}
		</main>
	</body>
</html>