<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta name="description" content="Badr Choubai's place on the internet">
	<title>{{ title }}</title>
	<style>
		{% include "css/base.css" %}
		{% if css == "post.css" %}
		{% include "css/post.css" %}
		{% endif %}
	</style>
	{% if css == "post.css" %}
		<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
	{% endif %}
</head>
<body>
<header>
	<hgroup>
		<h1 style="line-height: 4.5rem">Badr Choubai</h1>
		<p>Solving problems, nothing in particular.</p>
	</hgroup>
	<nav role="navigation">
		<ul>
			<li>
				<a href="/">All Posts</a>
			</li>
			<li>
				<a href="/blog/2024-03-17-uses">Uses</a>
			</li>
			<li>
				<a href="https://www.github.com/BadrChoubai">GitHub</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/badr-choubai/">LinkedIn</a>
			</li>
		</ul>
	</nav>
</header>
<main id="content">
	{{ content | safe }}
</main>
</body>
</html>
