<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta name="description" content="Badr Choubai's place on the internet">
	<title>{{ title }}</title>
	<style>
		{% include "css/index.css" %}
		{% if css == "post.css" %}
		{% include "css/post.css" %}
		{% endif %}
	</style>
	{% if css == "post.css" %}
		<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
	{% endif %}
</head>
<body>
{{ content | safe }}
</body>
</html>
