---
layout: layouts/base.njk
css: post.css
---

<section class="post">
	<header class="post__header">
		<a style="font-size: 2rem;" href="/">Back to All Posts</a>
	</header>
	<hr/>
	<article class="post__article">
		<h1>{{ title }}</h1>

		{{ content | safe }}

	</article>
	<hr/>
	<footer class="post__footer">
		<a style="font-size: 2rem;" href="/">Back to All Posts</a>
		<ul>
			<li>
				<a href="https://www.github.com/BadrChoubai">GitHub</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/BadrChoubai">LinkedIn</a>
			</li>
		</ul>
	</footer>
</section>