---
layout: layouts/default.njk
---
<section class="post">
	<article class="post__article">
		<h1>{{ title }}</h1>

		{{ content | safe }}

		<nav style="align-self: end;">
			<ul>
				<li>
					<a href="/">All Posts</a>
				</li>
			</ul>
		</nav>
	</article>
</section>