---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import TypographyContent from "../content/copy/typography.md";
---

<Layout>
  <Section id="typography-page-section">
    <TypographyContent />
  </Section>
</Layout>
