---
interface Props {
  tags: Array<string>;
  selectedTag: string;
}

const { tags, selectedTag } = Astro.props;
---

<header class="blog-navbar__header">
  <h1>Technically Writing</h1>
  <span>About whatever I'm interested in, at the moment.</span>
</header>

<nav class="blog-navbar" role="navigation">
  <ul class="blog-navbar__selection-menu">
    <li>
      Filter By Tag:
    </li>
    {
      tags.map((tag) => (
        <li>
          <a
            href={tag === selectedTag ? "/blog" : `/blog/?tag=${tag}`}
            class:list={[
              "btn",
              { active: tag === selectedTag }
            ]}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .blog-navbar {
    padding-inline: 0;
    a.btn {
      padding: calc(var(--app-spacing)*.5);
    }
    .active {
      background-color: var(--app-accent-color);
    }
  }
</style>
