<footer class="container grid">
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/blog">blog</a></li>
      </ul>
      <ul>
        <li>
          <a target="_blank" href="https://www.github.com/BadrChoubai">github</a
          >
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/BadrChoubai"
            >linkedin</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
