<header class="container">
  <h1 class="h2 logo">
    Badr
    <span>Choubai</span>
  </h1>
</header>

<style>
  header {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;

    .logo {
      color: var(--app-color-accent);
      line-height: 1;

      span {
        color: var(--app-color);
        display: block;
      }
    }
  }
</style>
