<header class="container">
  <h1 class="h2">
    <a href="/">
      <span class="logo">
        Badr
        <span>Choubai</span>
      </span>
    </a>
  </h1>
</header>

<style>
  header {
    padding-inline: var(--app-spacing);
    .logo {
      color: var(--app-accent-color);

      span {
        color: var(--app-color);
        display: block;
      }
    }
  }
</style>
