---
interface Props {
  class?: string;
  coverImage?: string;
  id: string;
}

const { class: className, coverImage, id } = Astro.props;

const coverImageStyle = coverImage && `background-image: url(${coverImage});`

const style = [coverImageStyle].filter(Boolean).join(" ")
---

<section
  class:list={[
    `section--${id}`,
    { "section--with-cover-image": !!coverImage },
    "container",
    className,
  ]}
  id={id}
  style={style}
>
  <slot />
</section>

<style>
section.contrast {
  background-color: var(--app-background-color--contrast);
}

section.section--with-cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>
