---
import SquareIcon from "../components/Icons/SquareIcon.astro";
import DotIcon from "../components/Icons/DotIcon.astro";
import DiamondIcon from "../components/Icons/DiamondIcon.astro";
import Section from "../components/Section.astro";

const imageUrl = "/images/SCM.jpg";
---

<Section coverImage={imageUrl} class="section--height-full grid" id="hero">
  <div class="hook">
    <h1 class="h1">
      <span>
        Develop <SquareIcon />
      </span>
      <span>
        Build <DotIcon />
      </span>
      <span>
        Deploy <DiamondIcon />
      </span>
    </h1>
    <h2>
      It's what I <i class="text-serif">do</i>.
    </h2>
    <h3 class="h4">Currently Focusing on Platform Engineering</h3>
    <a href="/blog" class="btn btn-primary">
      Learn with Me
    </a>
  </div>
</Section>

<style>
  .text-serif {
    font-family: var(--app-font-family-serif);
  }

  .hook {
    align-self: center;
    justify-self: left;
    background-color: var(--app-surface-color--opaque);
    border-bottom: var(--app-border-width) solid var(--app-accent-color);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: var(--app-spacing);

    h1 {
      font-size: 4.5rem;
      span {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 750px) {
    .hook {
      width: fit-content;
    }
  }
</style>
