---
title: "Blog"
layout: layouts/main.njk
---

<article>
	<section id="all-posts">
		<header style="display: flex; align-items: center; justify-content: space-between">
			<hgroup>
				<h1 style="font-weight: 900">All Posts</h1>
			</hgroup>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/feed.rss">Subscribe to RSS Feed</a>
					</li>
				</ul>
			</nav>
		</header>

		{% if collections.published.length !== 0 %}
		<div class="container">
			{% for post in collections.published %} {% postCard post %} {% endfor %}
		</div>
		{% else %}
		<p>No posts to display...</p>
		{% endif %}
	</section>
</article>
