---
title: "Home"
layout: layouts/main.njk
---

<article class="grid">
	<section>
				<header>
					<hgroup>
						<h2>Technical Proficiency</h2>
						<p>What I know.</p>
					</hgroup>
				</header>
				<p>
					I have expertise in C#, Go, and TypeScript, paired with a strong foundation in cloud
					technologies, containerization, and database management.
				</p>
	</section>
			<section>
				<ul>
					<li>Programming Languages: C#, Go, and TypeScript</li>
					<li>Version Control: Git, Azure DevOps, GitHub</li>
					<li>Containerization: Docker, Kubernetes</li>
					<li>Database Technologies: Azure CosmosDB, MongoDB, Microsoft SQL Server, SQLite</li>
					<li>Cloud Technologies: Azure, Cloudflare, Terraform</li>
					<li>Software Testing: Unit, Integration, Contract, and End-to-End Testing</li>
				</ul>
			<section>
</article>

	<section id="all-projects">
		<header style="display: flex; align-items: center; justify-content: space-between">
			<hgroup>
				<h2>Projects</h2>
			</hgroup>
			<nav>
				<ul>
					<li>
						<a target="_blank" href="https://www.github.com/BadrChoubai">View on GitHub</a>
					</li>
				</ul>
			</nav>
		</header>

		{% if projects.length !== 0 %}
		<div class="grid">{% for project in projects %} {% projectCard project %} {% endfor %}</div>
		{% else %}
		<p>No projects to display...</p>
		{% endif %}
	</section>
</article>
