---
layout: layouts/base.njk
title: Badr Choubai - Boulder, US
date: git Last Modified
---

<section>
	<article>
		<h1 style="font-size: 4em;">Posts</h1>
		<div class="posts-list">
			{%- for post in collections.published -%}
				{% postCard post.data %}
			{%- endfor -%}
		</div>
	</article>
</section>